*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
}


body, 
h1,
h2,
h3,
h4,
h5,
h6, 
p {
  margin: 0;
}

body{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-family: 'roboto';
  background-color: #171717;
  background-image:  url(img/map-background.png);
  background-size: cover;
  overflow-y: auto;
}

::-webkit-scrollbar{
  width: 8px;
  height: auto;
  background-color: #f0f0f000;
}

::-webkit-scrollbar-thumb {
  background-color: #676767;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}

.vector-bg{
  display: none;
}

.load1{
  overflow: hidden;
}

.centrado{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.centrado-weather{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .main{
  height: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out forwards;
} */
.form-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 2rem;
}
.title{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  cursor: default;
  color: #f2f2f2;
  font-size: 2.5rem;
  text-align: center;
}

#search-form{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  flex-direction: column;
  gap: 1rem;
}

.container{
  max-height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.8rem;
}

.country{
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 6rem;
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: 12px;
  gap: 8px;
  align-items: center;
  animation: staggerChildren 0.5s ease-in-out; 
}
.country > * {
  animation-delay: calc(0.07s * nth-child(n));
}
.country:hover{
  transition: all 0.35s ease-in-out;
  transform: scale(1.15);
  -webkit-box-shadow: 0px 0px 78px -19px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 78px -19px rgba(255,255,255,1);
  box-shadow: 0px 0px 78px -19px rgba(255,255,255,1);
}

.flags{
  width: 6rem;
  min-height: 4rem;
  border-radius: 12px;
  animation: errorBox 0.1s ease-in-out forwards;
}

/* Just one */
.container-one{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.div-country{
  width: 15rem;
  border-radius: 12px;
  background-color:rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 41px 13px rgba(150, 150, 150, 0.048);
  -moz-box-shadow: 0px 0px 41px 13px rgba(150, 150, 150, 0.048);
  box-shadow: 0px 0px 41px 13px rgba(150, 150, 150, 0.048);
}
/* .div-container{
} */
.country-only-one{
  display: flex;
  flex-direction: column;
  width: 15rem;
}
.flags-only-one{
  width: inherit;
  border-radius: 12px 12px  0px 0px ;
  animation: errorBox 0.1s ease-in-out forwards;
}
.countryname-one{
  color: white;
  padding: 6px;
}

.div-weather{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 12px;
  background-color:rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 12px 12px;
  padding: 2px;
}

.weather-icon{
  height: 2rem;
}
.temp{
  color: white;
}
.description-weather{
  color: white;
}

.stats{
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  color: white;
  animation: errorBox 0.1s ease-in-out forwards;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 41px 13px rgba(150, 150, 150, 0.048);
  -moz-box-shadow: 0px 0px 41px 13px rgba(150, 150, 150, 0.048);
  box-shadow: 0px 0px 41px 13px rgba(150, 150, 150, 0.048);
}


.country-name{
  color: #222121;
  font-size: 1rem;
  cursor: default;
}

/* .correct{
  outline: 2px solid green;
} */

.info{
  display: none;
}

.show-info {
  display: flex;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  animation: errorBox 0.5s ease-in-out forwards;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #fff;
}

.info2{
  display: none;
}
.show-info2 {
  display: flex;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  animation: errorBox 0.5s ease-in-out forwards;
}

.error__icon2 {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon2 path {
  fill: #fff;
}

.error__title2 {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close2 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close2 path {
  fill: #fff;
}
/* 
.incorrect{
  outline: 2px solid rgb(229, 255, 0);
} */

.input {
  width: 100%; /* El input tomará todo el ancho del contenedor */
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.06);
  box-shadow: 13px 13px 100px #9696962d,
             -13px -13px 100px #ffffff5b;
}

.spinner-container {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
}

.spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes staggerChildren {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes errorBox {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media (min-width: 1024px){

  .title{
    font-size: 4rem;
  }
  #search{
    height: 3rem;
  }
  .vector-bg{
    display: flex;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 23rem;
    z-index: -1;
  }
  .country{
    width: 10rem;
  }

  .flags{
    width: 9rem;
    min-height: 4rem;
  }

  .div-country{
    width: 50%;
    height: 100%;
  }

  .container-one{
    width: 65%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }

  .country-only-one{
    width: 100%;
  }

  .countryname-one{
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }

  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .stats{
    font-size: 1.7rem;
    font-size: 1.7rem;
    width: 50%;
    padding: 20px;
  }

  .show-info2{
    display: flex;
    justify-content: center;
  }
  .show-info{
    display: flex;
    justify-content: center;
  }

  .weather-icon{
    height: 3rem; 
  }
  .temp{
    font-size: 1.3rem;
  }
  .description-weather{
    font-size: 1.3rem;
  }
  .flags-only-one{
    width: 100%;
    max-height: 20rem;
  }
}
